@import url("https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Mega", sans-serif;
  font-size: 18px;
}

body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #8f9292;
}

main {
  box-shadow: -2px -2px 10px #bbbaba, 6px 6px 9px rgba(0, 0, 0, 0.4);
  height: 100%;
  margin: 100px 2px;
  padding: 1rem;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50px, auto;
  grid-template-areas:
    "i i i i i"
    "b b b b b"
    "b b b b b"
    "b b b b b"
    "b b b b b"
    "b b b b b";
}

.keys {
  width: 100%;
  grid-area: b;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.8rem;
  margin-top: 45px;
  justify-content: center;
}

input {
  box-shadow: inset -5px -5px 10px #bbbaba, inset 6px 6px 9px rgba(0, 0, 0, 0.4);
  grid-area: i;
  padding: 16px 22px;
  text-align: right;
  border: none;
  border-radius: 15px;
}

button {
  box-shadow: -2px -2px 10px #bbbaba, 4px 4px 9px rgba(0, 0, 0, 0.4);
  width: 100px;
  height: 50px;
  margin-bottom: 0.5rem;
  border: none;
  outline: none;
  outline-style: none;
  border-radius: 10px;
  cursor: pointer;
  background: #8f9292;
}

main .operator {
  color: #5715d1;
}

main button:hover,
main button:active {
  background-color: #7d8080;
}

main button:active {
  box-shadow: inset -2px -2px 10px #bbbaba, inset 4px 4px 9px rgba(0, 0, 0, 0.4);
}

main button:active,
main button:focus {
  outline: none;
  outline-style: none;
}
